DATABASE_URL="postgresql://DB_USER:DB_USER_PASSWORD@localhost:5432/DB_NAME"
PORT=3000
JWT_SECRET=unsecretjwt
BLOB_STORE_ID="store_xyz"
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_xyz"
FRONTEND_ORIGINS="http://localhost:3000,https://bob.github.io"